[2018-04-03 12:15] trishnaguha opened #14 "textfsm returns only the last dictionary entry from facts as ansible_facts"
**Summary**
Textfsm returns only the last dictionary entry from facts as ansible_facts. The engine should be able to  parse all the vlans from content.

**Component name**
[code]

**Steps to Reproduce**
[code]

**Actual Result**
[code]

**Expected Result**
[code]

[2018-04-04 09:28] #14 closed, assigned to trishnaguha

[2018-04-04 19:34] jmighion opened #17 "Unable to use default or ternary filter with vars from pattern_match"
If a pattern_match doesnt find what's being looked for, the returned container `matches` is undefined. This makes us unable to reference the `matches.0` and use filters on it since `matches` is undefined.

Example pattern_match
[code]
If duplex isn't found and I try to default it with something like, but it will always return null
[code]

My current workaround is an inline conditional
[code]

[2018-04-05 05:28] #17 closed, assigned to nobody

[2018-04-10 17:03] jmighion opened #22 "export_as: dict does not recursively update the dictionary"
The update method on a dict is only a single level. There is an `_update` now in the `template/__init__.py` that should be used at https://github.com/ansible-network/network-engine/blob/devel/action_plugins/text_parser.py#L148

Not sure how that will need to be edited to get to that method since it's now in a plugin. Might need a util structure to put common methods into.

[2018-04-12 13:40] trishnaguha commented on #22
@jmighion right that won't update the dictionary recursively, do you have any scenario that I can use to reproduce and see if we can solve that for now without having util?

[2018-04-12 15:58] jmighion commented on #22
I believe any json template that has a static key at the top will do. Here we're modeling similar to openconfig :

[code]

That will return just the last item in the loop over `state_values` since the update is not recursive. If I switch to the `_update` method from https://github.com/ansible-network/network-engine/blob/devel/lib/network_engine/plugins/template/__init__.py#L64 then all the items i

[2018-04-13 02:24] privateip commented on #22
@trishnaguha I think when I refactored to being a plugin system, I was too agressive in pruning methods and `update` should be in the plugins... just a thought

[2018-04-13 10:52] #22 closed, assigned to trishnaguha

[2018-04-17 05:14] trishnaguha opened #32 "Write json_template plugin"

[2018-04-24 14:58] ganeshrn opened #48 "[OPEN_CONF] Implement yang2spec lookup plugin"
yang2spec lookup plugin will transform given yang model to a yaml spec which can be used to validate input json config.

[2018-04-28 20:38] jmcgill298 opened #54 "Including parsers requires absolute path"
Trying to use a parser defined in `roles/ansible-network.network-engine/parsers/nxos/`
I tried the following without success:

- `show_version.yml`
- `nxos/show_version.yml`
- `parsers/nxos/show_version.yml`
- `~/.ansible/roles/ansible-network.network-engine/parsrs/nxos/show_version.yml`

Exception:
[code]

Using the absolute path did work, but I would expect:
- the search path to include the `par

[2018-04-30 13:24] acozine commented on #54
Thanks for the report. It looks like you're raising three issues:
- [ ] tilde expansion (bug)
- [ ] add parsers to search path (feature request)
- [ ] potential bug with relative path usage (can we see your playbook to confirm?)

[2018-04-30 14:33] ganeshrn opened #56 "[OPEN_CONF] Implement validate_config as a test plugin"
`validate_config` test plugin will validate the input config against a yaml spec file derived from yang module. The output will indicate if the input config conforms with spec file or not

[2018-04-30 15:12] jmcgill298 commented on #54
@acozine I am fine with separating this into multiple issues; they are closely related, so I assumed the team would prefer it as one report.

I am not sure what you mean with last one as I did not try relative paths, nor did I put one in my report. I am not sure of what reference point the task would use for a relative path, so I did not try that. My directory structure is this:

~/test/galaxy/tes

[2018-04-30 15:23] trishnaguha opened #57 "absolute path with tilde in src doesn't work"
Ref: https://github.com/ansible-network/network-engine/issues/54

Playbook:
[code]

Result:
[code]

[2018-04-30 15:29] #32 closed, assigned to trishnaguha

[2018-04-30 15:37] trishnaguha commented on #54
@jmcgill298 Thanks for your response.

Can you please share the following information?
- The playbook
- ansible version
- network platform and version

[2018-04-30 15:40] privateip commented on #54
@jmcgill298 the relative path question was in relation to this:

I tried the following without success:

It was assumed that you are using the relative path (above) with this list from the original issue report.

[code]

If the assumption is wrong, no big deal we can adjust as necessary

[2018-04-30 18:40] jmcgill298 commented on #54
- My ansible.cfg points defines my role directory as `~/.ansible/roles/`
- My playbook is in `~/test/galaxy/test_playbook.yml`
- My inventory is in `~/test/galaxy/inventory`
- My parser is in `~/.ansible/roles/ansible-network.network-engine/parsers/nxos/show_version.yml`

I would expect using "parsers/nxos/show_version.yml" to include searching for a path adjacent to the `tasks` directory of the c

[2018-05-01 01:37] privateip commented on #54
@jmcgill298 tremendously, thanks for the insight... still processing and will post more thoughts back here

[2018-05-01 15:54] gundalow opened #59 "`content:` must only support a string"
Currently the parse will accept (and silently fail) if `content:` is passed a list (or anything else that isn't a string).

This can cause confusion if you pass in (say) a list and you don't get any matches.

[2018-05-01 16:41] acozine opened #60 "add # of successful matches to verbose output of textfsm and text_parser"
As a user, If I make a mistake in a matching directive or in the `content:` parameter, I may end up with one or more `null` values in the final variable output. For example, this playbook:

[code]
succeeds, but returns this final variable:
[code]
The error in this example is in the `content` line, but a similar situation could occur if one or more match rules were incorrect. If I run the playbook

[2018-05-01 23:34] privateip opened #62 "Filter: vlan_compress"
Compress a vlan list

1,2,3,4,5 becomes 1-5
1,2,4,5 becomes 1-2,4-5
1,2,3,5 becomes 1-3,5

[2018-05-01 23:34] privateip opened #63 "Filter: vlan_expand"
Expand a vlan string to its elements

vlan1,3-5,7 expands to 1,3,4,5,7
vlan1-5 expands to 1,2,3,4,5

[2018-05-02 01:54] privateip commented on #62
This filter should go into `filter_plugins/network_engine.py` (#61) once its merged

[2018-05-02 01:55] privateip commented on #63
This filter should go into filter_plugins/network_engine.py (#61) once its merged

[2018-05-02 10:14] trishnaguha commented on #54
@jmcgill298 2. (parser in search path) -> currently this can be achieved with having `defaults` dir with adjacent to `tasks` dir.
defaults/main.yaml will look like:
[code]
when Ansible finds `role_path`, it translates this to absolute path of the role.

now is tasks/main.yaml
[code]

[2018-05-03 03:08] acozine opened #65 "Clarify network-engine terminology"
To make the network-engine role easier to use and easier to describe, in 2.5.1 we plan to update several terms used in the role:
 - [ ] Rename `text_parser` module to ~~`yaml_parser`~~ `command_parser`, provide alias
- [ ] Rename `textfsm` module to `textfsm_parser`, provide alias
- [x] Parameter names will not change ~~Rename `file` parameter to `parser_template` in both included modules, provide

[2018-05-03 13:58] privateip commented on #65
Few thoughts here:

I am not a fan of `yaml_parser`, we aren't working with yaml we are working with text

makes sense

inconsistent with other modules.  the argument specs where designed to maintan consistency with core modules that provide similar functionality

see previous comment

[2018-05-03 13:59] acozine commented on #65
Per follow-up conversation, the requirements for supporting legacy playbooks are:

- [ ] tasks using the old module names should get a deprecation warning
For example:
[code]
should generate:
`deprecation warning: the text_parser module is deprecated and will be removed in version 2.6, please update your playbook to use the command_parser module`
~~- [ ] tasks using the old parameters on the new m

[2018-05-03 15:27] acozine commented on #65
@privateip thanks for the review - if consistency with other modules is vital, we can keep `file` and `content` and document which file and what content should be referenced by them in this context using more specific terms.
I think the `yaml_parser` change is more important, here's why: both modules parse text (from the command output), right? But we can't call them both `text_parser`. It makes s

[2018-05-07 08:08] trishnaguha opened #67 "Add parsers to search path"
Ref: #54

**Feature request:**
The search path to include the parsers directory adjacent to the playbook directory
It would be preferable to use the parser file name and default to parser_templates/{{ ansible_network_os }}/file.[yml|yaml]

[2018-05-07 16:04] privateip commented on #67
Just to be explicit here, the default search path should be:

[code]

with file extensions of `*.yaml`, `*.yml`, and `*.json`

/cc @jmcgill298

[2018-05-07 18:05] acozine commented on #65
Per discussion today, we will keep the parameter names `file` and `content,` and update the module names to be `command_parser` and `textfsm_parser`. I've updated the original sections above, with strikethroughs to show the history.

[2018-05-14 14:14] #57 closed, assigned to trishnaguha

[2018-05-14 15:23] #65 closed, assigned to trishnaguha

[2018-05-14 19:07] jmighion opened #70 "export_as doesnt template vars"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Operating System (inc version) of machine running Ansible
- Network device make/model, including version
Any

# SUMMARY

We're unable to use variables with export_as. We'd like to be able to pass in a variable that can be evaluated at runtime.

# STEPS TO REPRODUCE

[code]

# EXPECTED RESULTS
Read `export_type` or default to 'd

[2018-05-14 20:38] jmighion opened #71 "When conditional in json template doesn't work"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Operating System (inc version) of machine running Ansible
- Network device make/model, including version
Any
# SUMMARY

We're unable to use `when:` in a json_template. This is holding us back from updating to the plugin version. I saw the comment in the plugin code, making this issue to track it a little easier.

# STEPS TO REP

[2018-05-15 02:46] privateip commented on #71
@jmighion fix has been merged here https://github.com/ansible-network/network-engine/pull/55 into `feature-branch`.  We will pull into `devel` soon but in the meantime you should be able to test from [here](https://github.com/ansible-network/network-engine/tree/feature-branch)

[2018-05-16 03:36] #59 closed, assigned to trishnaguha

[2018-05-16 19:39] jmighion commented on #71
Tested the `feature-branch` and it works there. Thanks.

[2018-05-16 19:39] #71 closed, assigned to nobody

[2018-05-18 09:31] trishnaguha opened #80 "Add Docs for Filter plugins"
# ISSUE TYPE

Documentation Report

- interface_split
- interface_range
- vlan_expand
- vlan_compress

docs/user_guide/filter-plugins.md

[2018-05-18 09:34] trishnaguha opened #81 "Add Docs for lookup plugins"
# ISSUE TYPE

 Documentation Report

- json_template
- network_template

docs/user_guide/lookups.md

[2018-05-24 09:20] ganeshrn opened #86 "[network-engine] Add lookup plugin for generating configuration diff"
# ISSUE TYPE

- Feature Idea

# ANSIBLE VERSION

[code]

# Network OS
ios
iosxr
eos
nxos
junos
vyos

# SUMMARY
Create a lookup plugin that generates a configuration diff between two configuration input (eg: candidate and running). The diff is generated based on the options given as input to the lookup plugin.

[2018-06-04 13:31] privateip opened #90 "create cli tasks for running cli based commads"
Create a new task `cli` for execting cli commands against a network device.  The task should be pinned to using only the `network_cli` connection.   The task should support the following input parameters:

`command` - the command to run
`parser` - the path to the parser to pass the command through
`engine` - the command parsing engine to use

[2018-06-05 04:21] #62 closed, assigned to trishnaguha

[2018-06-05 04:21] #63 closed, assigned to trishnaguha

[2018-06-06 07:01] #86 closed, assigned to ganeshrn

[2018-06-06 12:18] #48 closed, assigned to ganeshrn

[2018-06-07 05:55] #81 closed, assigned to nobody

[2018-06-11 17:38] #90 closed, assigned to trishnaguha

[2018-06-27 04:39] trishnaguha commented on #80
resolved_by_pr https://github.com/ansible-network/network-engine/pull/94

[2018-06-27 04:39] #80 closed, assigned to acozine

[2018-06-29 03:59] #67 closed, assigned to trishnaguha

[2018-06-29 04:48] trishnaguha commented on #54
resolved_by_pr https://github.com/ansible-network/network-engine/pull/58 and https://github.com/ansible-network/network-engine/pull/89

[2018-06-29 04:48] #54 closed, assigned to trishnaguha

[2018-06-29 07:45] trishnaguha commented on #70
@jmighion The PR #104 should fix this.

[2018-07-02 15:39] #70 closed, assigned to trishnaguha

[2018-07-16 21:41] fenris02 opened #114 "network-engine lint"
Minor lint issues found in network-engine:

# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

n/a for this report.

# SUMMARY

# STEPS TO REPRODUCE

[code]

# EXPECTED RESULTS

Lint checks should not report any results.  Almost all of the items above are very minor and trivial to fix.

The one deprecated feature may take longer to resolve.

# ACTUAL RESULTS

https://docs.ansible

[2018-08-02 20:04] gundalow commented on #114
@fenris02 (DJ) Thank you for this.

1) I'll need to check, though I'm fairly sure ansible-test runs yamllint. I think we ignore requiring  `---` at the start
2) Linelength is the same as ansible/ansible 160chrs
3) deprecated sudo feature looks seems valid. Though I think we can just delete `.travis.yml`
4) Wonder if we should run Will Thames' ansible-lint

[2018-08-06 21:22] gundalow commented on #114
Also from Galaxy import
[code]

* So we want line length 120 characters

[2018-08-27 02:21] LukeDRussell opened #139 "nested loops with repeat_for cause exceptions"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Cisco IOS
- Not applicable

# SUMMARY

When using the template argument `repeat_for` and `repeat_var` I was getting python exceptions.  With help from a developer here he got me to change json_template.py and it started working. I'm not sure really what is happening with the code.

# STEPS TO REPRODUCE

See [this gist](https://

[2018-08-27 12:47] trishnaguha commented on #139
@LukeRussell can you please share the exception?

[2018-08-28 04:26] LukeDRussell commented on #139
@trishnaguha I've updated the original Issue with actual results and working results with json_template.py fixed (IMO).

[2018-08-29 18:49] LukeDRussell commented on #139
Thanks @trishnaguha, works as expected now.

[2018-08-29 18:49] #139 closed, assigned to nobody

[2018-10-03 21:28] lancewood1 opened #151 "JSON templating incorrectly changes the value to type int"
# ISSUE TYPE

- Bug Report

# SUMMARY

The `_coerce_to_native` function in
`network-engine/lib/network_engine/plugins/template/__init__.py`
incorrectly casts values to type integer.

Any string value that looks like an integer is turned into an integer which causes issues.  Many network constructs should not be converted from type string.  For example, an ip prefix-list defined on a Cisco device c

[2018-10-04 06:51] ganeshrn commented on #151
Can you please share the parser template `ios_prefix_list_parser.yml` and the value of content `prefix_list_output.stdout[0]`

[2018-10-04 15:33] trishnaguha commented on #151
@lancewood1 can you paste `show ip prefix-list` output of your device?

[2018-10-04 17:12] lancewood1 commented on #151
This is the parser template, it is available as
        cisco_ios/parser_templates/config/show_ip_prefix_list.yaml

[code]

The prefix list output variable contains the following:
[code]

[2018-10-04 23:51] crosson opened #152 "command_parser relative path failing"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Mac OSX
- MBP 2017

# SUMMARY

I have to populate my parser_templates folder, complete with all templates, in two locations for the playbook to succeed.

# STEPS TO REPRODUCE

I have the following folder structure.

[code]
I call my playbook via

Under this folder struct the playbook works
[code]
Parser templates is in two loca

[2018-10-05 11:45] ganeshrn commented on #151
~~@lancewood1 With the fix in PR https://github.com/ansible-network/network-engine/pull/153 a `type` option can be added to `json_template` directive to enforce value is converted to the given type.
For eg:~~

~~- name: template entries
  json_template:
    template:
      - key: name
        value: "{{ item.name.acl_name }}"
        type: str~~

~~Can you please check if this patch fixes the issu

[2018-10-05 12:25] ganeshrn commented on #56
This feature is implemented in yang role. Hence closing this issue.

[2018-10-05 12:25] #56 closed, assigned to ganeshrn

[2018-10-05 17:22] lancewood1 commented on #151
@ganeshrn This seems to work when the `type` option is applied as you have shown above.  However, when the template uses the `elements` keyword the type is merely added to the dictionary.  Referring to the parser template above, I was only able to keep the prefix-list name a string for the json_template using the registered variable `prefix_list_list`.  Both the dictionary output and basic output

[2018-10-05 18:48] ganeshrn commented on #151
Yes that’s right. The fix I proposed earlier is not correct that’s why I have closed the PR. I am working on alternate way to fix the issue.

[2018-10-06 10:03] ganeshrn commented on #151
@lancewood1 Ansible 2.7 version onwards supports native jinja2 datatype conversion, hence handling of native type conversion is not required in the `json_template` code.

To enable native jinja2 conversion enusre Ansible versions is >= 2.7 and jinja2 version is >=2.10
Also, need to enable `jinja2_native` config variable in Ansible config file
[code]

With this fix if in case you want to convert th

[2018-10-06 17:22] trishnaguha commented on #152
@crosson for this structure
[code]
in this case the path to your parser templates should be like `file: ../parser_templates/nxos/show_version.yaml` as your playbook is in the other sub directory `playbooks`.

[2018-10-08 14:27] privateip opened #155 "Consolidate the *_capabilities modules into a single agnostic module"
Consolidate the existing platform specific capabilities modules into a single `net_facts` module under network-engine and upstream to `ansible/ansible`.  The generalized form of the capabilities should return the `device_info` key from `[cliconf|netconf]` plugins

[2018-10-08 20:02] crossonST commented on #152
`TASK [Generate Version Fact as JSON] **************************************************************
fatal: [tuk8cs1.ilo.skytap.com]: FAILED! => {"msg": "src [../parser_templates/nxos/show_version.yaml] is either missing or invalid"}
`

Here is a [screenshot](https://imgur.com/dJHFUPf) of my folder hierarchy. It is as you've shown above.

[2018-10-09 11:41] #151 closed, assigned to ganeshrn

[2018-10-10 13:13] #155 closed, assigned to trishnaguha

[2018-10-12 05:43] trishnaguha commented on #152
@crossonST this is my directory structure same as yours:
[code]
My Playbook:
[code]

When I run the playbook from the top dir, it works fine: `ansible-playbook playbooks/parse.yaml`
When I run the playbook from the `playbooks/` dir, it also works fine: `ansible-playbook parse.yaml -i ../inventory`

Which dir you are running the playbook from?  Which version of Network Engine you are using?

[2018-10-16 00:24] crossonST commented on #152
Hmm I am indeed running it in the top dir. Let me clone this over to a fresh environment. I am running in a virtual env but maybe there is another local factor. I am currently running it from my Mac.

[2018-10-17 19:57] crossonST commented on #152
So I have reproduced this in a totally separate environment with different end devices. Can you try this with virtual env ansible 2.6?

Also if you notice your example above you provided the following tree structure.

[code]

The idea here is that you had to place parser_templates folder in two locations. Try changing the file name of that folder and see if your test works?

[code]

[2018-10-18 21:53] victorock opened #189 "validate_role_spec not populating variables/subkeys with default values"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

[code]

# SUMMARY

validate_role_spec is not defining default values properly.

[code]

Undefined variables and subkeys being defined with the value defined in default.

Neither variables or subkeys are defined with the default values specified in the spec file.

[code]

[2018-10-22 12:34] trishnaguha commented on #152
@crossonST ACK. I will test this and get back to you. I couldn't test it last week as I was on PTO.

[2018-10-22 17:12] crossonST commented on #152
Thank you! If it helps at all I was running in a virtual environment.

[2018-10-23 14:38] trishnaguha commented on #189
@victorock Do you mean that the default value is not set at all?

[2018-10-24 19:52] victorock commented on #189
@trishnaguha when i ran the tests, the subkeys were not defined properly with the default value...
NOTE: I am not using the `merge_behaviour = merge`

[2018-11-05 14:48] trishnaguha commented on #189
@victorock As discussed with the team, this is not a bug but a feature idea. Currently default values need to be set via role only. This plugin only takes `default` here as part of documenting the role spec.

[2018-11-19 11:06] trishnaguha commented on #189
resolved_by_pr https://github.com/ansible-network/network-engine/pull/198

[2018-11-19 11:06] #189 closed, assigned to trishnaguha

[2018-11-21 18:34] jwoogee opened #200 "No example how to use textfsm with network-engine."
# ISSUE TYPE

- Documentation Report

# ANSIBLE VERSION

[code]

# Network OS

- Operating System (inc version) of machine running Ansible
- Network device make/model, including version

# SUMMARY

I'm trying to use a textfsm template with network-engine to populate ansible_facts.  I cannot find documentation how to supply the fact name to supply, and the facts are not showing in ansible_facts.

I

[2018-11-22 04:02] trishnaguha commented on #200
@jwoogee Hi, your playbook is not explicit enough to understand what module you are using. Will you please add the information?
We do have docs how to use the parsers https://github.com/ansible-network/network-engine/tree/devel/docs/user_guide

`textfsm_parser` needs an argument called `name` to have ansible_facts generated https://github.com/ansible-network/network-engine/blob/devel/docs/user_gui

[2018-11-22 14:12] jwoogee commented on #200
sorry,
I’m using the ansible-network.cisco-ios role to attempt this. Maybe this
needs to be posed on a different github page?
I do understand how to call textfsm directly, but with the get_fact section
of the Cisco iOS role it gives the option to use different parser templates
to fine tune what facts you get, but it doesn’t explain how to use textfsm
in this way, although they say you can.

Thank

[2018-11-23 16:14] jwoogee commented on #200
I found the issue, the ansible-network.cisco_ios role doesn't have a spot to use name for textfsm templates, and the cli module in ansible-network.network-engine doesn't take name and use it either, so as far as I can see you can't use textfsm in the way the ciso_ios role expects.  I can submit a PR with my changes that made it work for me.

[2018-11-24 05:04] trishnaguha commented on #200
Thanks for the details. This needs to be fixed in `cli` action plugin instead. I will open a PR when the fix is ready.

[2018-11-24 16:20] jwoogee commented on #200
Thanks!  I created a PR for what works for me, and in Network-engine, that
was editing the cli action plugin. It’s PR #202.

On Fri, Nov 23, 2018 at 11:05 PM Trishna Guha <notifications@github.com>
wrote:

--
Jonathon Woods

[2018-12-03 13:07] trishnaguha commented on #200
resolved by pr https://github.com/ansible-network/network-engine/pull/202 and https://github.com/ansible-network/network-engine/pull/205

[2018-12-05 14:24] #200 closed, assigned to trishnaguha

[2018-12-29 16:22] nohir0 opened #212 "Feature request new lookup plugin - report on not allowed configuration"
# ISSUE TYPE
- Feature Idea

# ANSIBLE VERSION
[code]

# Network OS
[code]

# SUMMARY
The current implementation of the netcfg_diff lookup plugin allows to create a diff based on a "have" and a "want" configuration - the result is basically the lines that are missing in the "have" configuration.

Network engineers also need to make sure, that certain configurations/features are never configured/ac

[2018-12-29 21:29] nohir0 opened #213 "Feature request command parser combine multi-command facts into single json hierachy"
# ISSUE TYPE
- Feature Idea

# ANSIBLE VERSION

[code]

# Network OS
[code]

# SUMMARY
Currently one cli command output can be linked with one command parser instance (YAML file) to produce a structured json template structure based on the unstructured ASCII response of that single command. The "extend" directive has been added, which allows to extend an existing facts json structure, but always w

[2019-01-09 15:08] Qalthos commented on #212
This does not seem to be a good fit for the netcfg_diff plugin, as this doesn't do anything with generating diffs. This could probably be done with a new plugin to blacklist config entries, though it is not clear to me exactly what would happen if an offending line is found.

[2019-01-19 16:06] nohir0 commented on #212
I try to summarize our ideas below, anyway I think you may be right - a new plugin/module could be more appropriate - if that is the case and you do not see this fitting into the whole network-engine environment maybe we start a module/plugin contribution from our side...

Indeed creating diffs is only the foundation of further processing of such plugin. It would be in fact a compliance feature fo

[2019-02-06 05:24] LukeDRussell commented on #213
We've managed to combine two IOS commands into a single object with extends. See https://github.com/Roshna-Raman/cisco_ios/blob/remotes/origin/f/parser_show_ip_route/vars/get_facts_command_map.yaml which calls both `show ip route` and `show ip route vrf *` to get all routing tables.

You can test it from my fork (https://galaxy.ansible.com/lukedrussell/cisco_ios) which tracks devel + parsers that

[2019-02-06 05:43] LukeDRussell opened #218 "Failing to construct json_object due to missing / null values should fail explicitly"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

Not relevant

# SUMMARY

When you construct a json_template that references a non-existing (or perhaps null) parsed variable, ansible hangs. It should fail explicitly with a useful message.

# STEPS TO REPRODUCE

From inside ansible-network.cisco_ios
1. Remove [this line](https://github.com/ansible-network/cisco_ios/blob/fdf9cc53

[2019-02-11 15:25] trishnaguha opened #219 "validate_role_spec fails with TypeError"
# ISSUE TYPE

- Bug Report
# ANSIBLE VERSION

[code]
# Network OS
NXOS 9K

# SUMMARY
The following spec file fails with TypeError

# STEPS TO REPRODUCE

[code]

# EXPECTED RESULTS

# ACTUAL RESULTS

[code]

[2019-02-11 16:03] #219 closed, assigned to trishnaguha

[2019-02-13 12:30] trishnaguha commented on #218
@LukeDRussell I am unable to reproduce the issue. network-engine sets the key to null if there is no match which caused the following test failure which is expected, it didn't hang for me.
I think this might be related to connection plugin, copying @Qalthos here.

[code]

[2019-02-13 14:44] mattgmoser commented on #152
Has there been a fix/update on this? Currently running into the same issue, Ansible back-end is RHEL7. Using most recent version of network-engine.

When calling the command_parser module by specifying "file," it fails to find the parser file whether relative or direct unless a file of the same name also exists in the root directory where the playbook is being run.

[2019-02-14 02:29] LukeDRussell commented on #218
Ack, I'll have to find another way to reproduce this.

[2019-02-14 06:07] trishnaguha commented on #152
@crossonST @mattgmoser No this is not fixed yet.
I can make it work with providing absolute path to the parser_templates directory which is not present in playbook dir.
[code]

[2019-02-18 15:54] #152 closed, assigned to trishnaguha

[2019-02-18 15:58] trishnaguha commented on #152
The fix https://github.com/ansible-network/network-engine/pull/222 is merged and will be released with 2.7.4 and 2.6.10 network engine this week.

[2019-02-20 11:02] trishnaguha commented on #219
fixed in https://github.com/ansible-network/network-engine/pull/221

[2019-02-21 02:54] mattgmoser opened #228 "Error using regex branch reset group within command_parser pattern_match"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Red Hat Enterprise Linux 7.6
- Cisco Nexus 5548, NXOS 6.0(2)N2(5a)

# SUMMARY

I am attempting to utilize network-engine's command_parser to extract key facts, such as network device version number, from the device.

Because different versions of NXOS and IOS seem to present the data in a slightly different way, I was hoping to

[2019-02-21 23:13] blandrew commented on #228
@mattgmoser `pattern_match` uses the `re` regular expression module from the Python standard library, which doesn't appear to support branch reset groups.

If your real world use case is as simple as the example provided above, putting the OR logic within the same capture group may suffice:

[code]

[2019-02-22 13:32] alanzdunic opened #229 "command_parser failed to load tasks"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS
N/A

# SUMMARY

Currently in command_parser.py after source path is constructed tasks are still loaded from `src` [tasks = self._loader.load_from_file(src)], but with recent changes I think tasks should now load from `src_path` [tasks = self._loader.load_from_file(src_path)]

# STEPS TO REPRODUCE

[code]

# EXPECTED RESULTS

Comma

[2019-02-22 14:57] mattgmoser commented on #228
Thank you @blandrew , I was wondering if that was the case. I've been able to find a successful work-around, I appreciate your looking into this.

[2019-02-25 06:01] trishnaguha commented on #229
@alanzdunic Will you be able to test the PR https://github.com/ansible-network/network-engine/pull/230?

To test it:
[code]
In your playbook change the imported role `ansible-network.network-engine` to the path of the network engine repository cloned `<path>/network-engine`.

**Note** this is development branch.

[2019-02-25 07:33] trishnaguha commented on #228
Python `re` doesn't support branch reset which command_parser uses.
3rd party PyPi [regex ](https://pypi.python.org/pypi/regex/)module supports a branch reset feature.
Hence `command_parser` is failing.
Please file a bug report if you face issue further. Thanks!

[2019-02-25 07:33] #228 closed, assigned to trishnaguha

[2019-02-25 07:50] alanzdunic commented on #229
Test was successful.

Thanks Trishna,

[2019-02-25 09:53] trishnaguha commented on #229
Thanks for the bug report. resolved_by_pr https://github.com/ansible-network/network-engine/pull/230

[2019-02-25 10:09] #229 closed, assigned to trishnaguha

[2019-03-08 19:02] justinhaef opened #232 "Broken link for parser_directives documentation under command_parser.md"
# ISSUE TYPE

- Documentation Report

# ANSIBLE VERSION

[code]

# Network OS

- Operating System (inc version) of machine running Ansible
macOS 10.13.6
- Network device make/model, including version
n/a

# SUMMARY

Broken Link  at (https://github.com/ansible-network/network-engine/blob/devel/docs/user_guide/command_parser.md#sample-parser-templates) for "Parser templates for the command_parser mo

[2019-03-14 18:16] andreasbourges commented on #152
unfortunately this fix seems to break my setup ?! in my setup I had the following:

 roles/vlan_facts/tasks/main.yml
[code]

...and the corresponding parser:

parsers/nxos/show_vlan.yml

The playbook is at the top-level directory:

./otv_vlans.yml

Before upgrading to the latest network-engine everything worked fine, but now the parser is not found anymore:
[code]
It seems this is caused by the me

[2019-03-18 03:41] trishnaguha commented on #152
@andreasbourges Can you upgrade to the latest release 2.7.5? We have got a bugfix released related to path for command_parser with that version. If the bug still exists please open a new issue with the steps to reproduce. Thanks!

[2019-03-18 07:33] andreasbourges commented on #152
Him Trishna,

…I am using 2.7.5 and problems started after the upgrade to 2.7.5 😉 Absolute Path is working fine, but relative path fails.

Thanks,

Andreas

Von: Trishna Guha <notifications@github.com>
Gesendet: Montag, 18. März 2019 04:42
An: ansible-network/network-engine <network-engine@noreply.github.com>
Cc: andreasbourges <andy@bourges.de>; Mention <mention@noreply.github.com>
Betreff: Re: [

[2019-03-18 15:17] trishnaguha commented on #152
@andreasbourges thanks, so just to be sure it works with 2.7.4?

[2019-03-18 16:15] andreasbourges commented on #152
Hi,

…2.7.4 does not work, but 2.7.3 works.

Thanks,

Andreas

Von: Trishna Guha <notifications@github.com>
Gesendet: Montag, 18. März 2019 16:18
An: ansible-network/network-engine <network-engine@noreply.github.com>
Cc: andreasbourges <andy@bourges.de>; Mention <mention@noreply.github.com>
Betreff: Re: [ansible-network/network-engine] command_parser relative path failing (#152)

@andreasbourges <

[2019-04-19 16:34] epicanthal opened #234 "command_parser missing file is not displayed in error MSG"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

Docker Container (awx_task):
[code]

# SUMMARY

network-engine 2.7.5, the error message received when the command_parser template is "missing or invalid" no longer provides the file path/name within the message, rather only "None" is provided.  As seen below, the filename and path are provided when going back to network-engine 2.

[2019-04-19 16:36] hisaza opened #235 "Minor syntax bug in your template"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Operating System (inc version) of machine running Ansible
Mac OS 10.14.4 (18E226) Mojave
- Network device make/model, including version
ok: [csr1] => {
    "system_facts": {
        "image_file": "\"bootflash:packages.conf\"",
        "memory": {
            "free": "3075K",
            "total": "2190795K"
        },
        "m

[2019-04-23 07:37] kvernNC commented on #235
Could also use :
`regex: "Hardware is ([^,]+),"`

This could show another way working with python re.

[2019-04-27 08:24] joubbi opened #236 "Publishing templates"
- Documentation Report

Hi,
I have written some parser templates for Cisco IOS. I tried to find if someone had already written such templates before I wrote mine, but couldn't find any.
I would like to publish my templates so that others in the same situation don't have to start from zero. I would also be happy to get improvements to my templates from others.

What is the best way to publish templ

[2019-04-27 09:25] kvernNC commented on #236
Hi,
I published a version of a running-config parser I did at work, it's not totally finished but it cover my need so far.

You can find it here:
https://github.com/kvernNC/cisco_config_parser

I wrote some others and will publish them as well if there's a place for that.

[2019-04-27 12:43] joubbi commented on #236
Great!
I was thinking about parsing running-config at first, but decided not to do it.
Doing a "show running-config" can be heavy on the CPU of a busy router and the syntax might be different across versions.
I'm interested in matching interfaces with VRF's. I have done a parser for "show ip interface" since you get a bunch of interesting facts from there. My next step is to do a parser for "show

[2019-04-27 23:58] kvernNC commented on #236
I agree with you, show running-config can be stressful, specially for
catalyst stacks.
We use oxidized for backuping our configuration. I retrieve running-config
from oxidized api, not directly from the device and sync oxidized when I
make change to the device.

Le sam. 27 avr. 2019 à 23:43, joubbi <notifications@github.com> a écrit :

[2019-05-13 13:41] joubbi opened #237 "How to handle minor variations (is it possible to do "if")?"
- Documentation Report

I am creating templates for some Cisco IOS devices.
Unfortunately Cisco is not consistent with the output on some of their commands across IOS versions and devices.

For example the command "show vtp status" outputs:
[code]
on some switches. And this on others:
[code]

Is it possible to handle this with an if statement or or?
(regexp like this, if null then regexp like this

[2019-05-14 12:05] joubbi commented on #236
I wrote a few templates.
Here they are: https://github.com/network-automation/cisco_ios_command_parsers

Please add yours if you have created any.

[2019-05-22 13:48] trishnaguha commented on #212
cc @cidrblock @ikhan2010

[2019-05-24 14:29] joubbi commented on #235
For the same result it's possible to use
`regex: "Hardware is (.*),"`

Unfortunately I haven't figured out a way to show the loopback device type.
For a loopback device the hardware line doesn't end with a comma. There is a newline right after the device type:
`Loopback2 is up, line protocol is up \n  Hardware is Loopback\n  Description:`

[2019-05-26 02:01] colin-mccarthy opened #238 "Remove network-engine README.MD "should not be directly invoked" wording"
# ISSUE TYPE

- Documentation Report

# SUMMARY

I don't beleive the README.md should advise users not to invoke the network-engine role directly in a playbook. I suggest the removal of this wording.

It's a common practice to invoke the role at the beginning of the playbook, this wording also doesn't match with the later wording.

```Any of the provided functions can be implemented in Ansible pla

[2019-05-28 21:20] kvernNC commented on #235
Hi @joubbi,

for capturing both case, you can use non-greedy expression and use | to add multiple ending:
`regex: "Hardware is (.*?)(?:,|\\\n)"
`

[see here](https://regex101.com/r/lIS3nx/1)

[2019-05-29 06:47] joubbi commented on #235
Thank you @kvernNC !
I still have a lot to learn about regex ;-)
I updated my version https://github.com/joubbi/command_parser_show_interfaces

[2019-07-01 06:54] #235 closed, assigned to trishnaguha

[2019-07-01 16:15] trishnaguha commented on #238
cc @cidrblock @ikhan2010 @abenokraitis @privateip

[2019-07-01 16:16] trishnaguha commented on #234
resolved_by_pr https://github.com/ansible-network/network-engine/pull/240

[2019-07-01 16:20] trishnaguha commented on #232
resolved_by_pr https://github.com/ansible-network/network-engine/pull/241

[2019-07-01 16:24] trishnaguha commented on #236
We don't currently really have/maintain our own parser templates.
You'll still find some examples here https://github.com/ansible-network/cisco_ios/tree/devel/parser_templates. Ah I see that you have created one in network-automation org :).
Closing this ticket as this is not a repo to maintain templates.

[2019-07-01 16:24] #236 closed, assigned to trishnaguha

[2019-07-01 17:37] abenokraitis commented on #238
The goal is to import the role, not to chop up the contents of the role. I think that's what the disclaimer is getting at. It is much easier to support a role that is imported, rather than using individual tasks within the role as part of the playbook.

[2019-07-01 21:00] colin-mccarthy commented on #238
It sounded to me like the author was suggesting you add this to the meta/mail.yml of the other network roles and not invoke this role by itself in a playbook. I'm okay with closing the issue if you think other folks will understand it the way you described.

[2019-11-07 21:23] ryanmerolle opened #243 "Short name interface_split function"
# ISSUE TYPE

- Feature Idea

# ANSIBLE VERSION
[code]

# Network OS

All

# SUMMARY

Nearly all Network OS report a short name for interfaces.  It would be useful for interface_split or a similar filter to spit such short names out given a full interface name.

# EXPECTED RESULTS

{{ 'Ethernet1/1' | interface_split('shortname') }} returns 'Et1/1'
{{ 'Loopback0' | interface_split('shortname') }} r

[2020-05-29 07:46] bellresearch opened #245 "Feature request, parsing network configuration"
# ISSUE TYPE
- Feature Idea

# SUMMARY

We have with the ansible network engine role, the ability to parse the output of "show commands" executed on a network device (e.g. 'show version'). This is with using the 'command_parser' or 'textfsm_parser'. The present feature request is for the ability to parse the configuration text of a network device and to make the capabilities in the custom module a

[2020-09-30 01:22] jvanderaa opened #246 "Retire Repo"
# ISSUE TYPE

- Documentation Report

# ANSIBLE VERSION

N/A

# Network OS

N/A

# SUMMARY

It looks as though the functionality from this has migrated its way into the modern network libraries within Ansible. This should be documented on the repository and also on Ansible Galaxy to shift and guide to the proper location for parsing specifically.

[2020-12-03 18:22] epicanthal commented on #246
I am currently using the 'CLI Parser Directives' functionality which seems to not work any longer when moving to Ansible 2.10.x.  So what @jvanderaa is saying is that [Network CLI Filters](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#network-cli-filters) is now the preferred method?

I am receiving the following error:
[code]

Here are the sample tasks to reproduce:
[c

[2021-03-30 14:36] iaalmeida opened #247 "Errors after migrating to ansible 2.10"
# ISSUE TYPE

- Bug Report

# ANSIBLE VERSION

[code]

# Network OS

- Debian GNU/Linux 10

# SUMMARY

After upgrade ansible from 2.9.18 to 2.10, I was no longer able to run my playbooks with network-engine.

The error was "ModuleNotFoundError: No module named 'ansible.module_utils.network_common'"

In file
[code]
I had to change line 26
[code]
to
[code]

And in file:
[code]

I had to change line

[2021-04-13 22:11] zendritic commented on #247
I have this same issue.

[2021-04-14 13:18] jvanderaa commented on #246
## Docs on the replacement

https://docs.ansible.com/ansible/latest/network/user_guide/cli_parsing.html

[2021-04-14 13:18] jvanderaa commented on #247
@iaalmeida @zendritic take a look at https://docs.ansible.com/ansible/latest/network/user_guide/cli_parsing.html

This is effectively retired and moved into the Ansible netcommon libraries.

Issue #246  was opened to have this repo marked as archive.

[2021-12-01 14:47] cidrblock commented on #212
network engine is no longer being actively developed, closing this one out.

[2021-12-01 14:47] #212 closed, assigned to nobody